name: Renovate dry-run
on:
  push:
    branches:
      - main
    paths:
      - renovate.json5
      - .github/workflows/renovate-dry-run.yml
  workflow_dispatch:
concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@957af03d760b2c87fc65cb95628f6d5f95d9c578 # v46.0.0
      with:
        token: '${{ github.token }}'
      env:
        RENOVATE_AUTODISCOVER: "true"
        RENOVATE_USERNAME: renovate[bot]
        RENOVATE_GIT_AUTHOR: renovate[bot] <renovate[bot]@users.noreply.github.com>
        RENOVATE_BASE_BRANCHES: ${{ github.ref_name }}
        LOG_LEVEL: debug
        RENOVATE_DRY_RUN: full
